<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Layout Builder</title>
    <link rel="stylesheet" href="../static/fabric.css">
</head>
<body>
    <div class="toolbar">
        <button onclick="addWall()">Add Wall</button>
        <button onclick="addWindow()">Add Window</button>
        <button onclick="addOven()">Add Heater Oven</button>
        <button onclick="toggleSnap()">Toggle Snap</button>
        <button onclick="exportGmsh()">EXPORT to GMSH</button>
        <button onclick="startPolygonMode()">Start Polygon</button>
        <button onclick="finishPolygon()">Finish Polygon</button>

    </div>

      <div class="canvas-container">
            <canvas id="canvas" width="100%"></canvas>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.2.4/fabric.min.js"></script>
    <script src="../static/fabric.js"></script>
    
</body>
</html>




